:root {
    /* Light Mode Variables */
    --background-color: #ffffff;
    --card-background: #fcfcfc;
    --text-color: #000000;
    --card-shadow: rgba(0, 0, 0, 0.1);
    --borrower-border: #FF4500;
    --lender-border: #32CD32;
    --disabled-border: #808080;
    --footer-border: #e0e0e0;
    --footer-text-color: #000;
    --footer-link-color: #000;
    --footer-link-hover-color: #000;
    --primary-color: #ffc107; /* Example primary color (amber) */
    --primary-text-color: #000000;
    --button-background-color: var(--primary-color);
    --button-text-color: #000000;
    --button-hover-background-color: #ffb300; /* Slightly darker amber */
}

body.dark-mode {
    /* Dark Mode Variables */
    --background-color: #171717;
    --card-background: #1e1e1e;
    --text-color: #ffffff;
    --card-shadow: rgba(48, 48, 48, 0.1);
    --borrower-border: #FF6347;
    --lender-border: #228B22;
    --disabled-border: #A9A9A9;
    --footer-border: #505050;
    --footer-text-color: #ffffff;
    --footer-link-color: #ffffff;
    --footer-link-hover-color: #ffffff;
    --primary-color: #ffca28; /* Slightly lighter amber for dark mode */
    --primary-text-color: #ffffff;
    --button-background-color: var(--primary-color);
    --button-text-color: #ffffff;
    --button-hover-background-color: #ffa000; /* Darker amber for hover in dark mode */
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    padding-bottom: 6rem;
}

.card {
    background-color: var(--card-background);
    border: none;
    border-radius: 15px;
    box-shadow: 0 3px 8px var(--card-shadow);
    margin: 1rem 0rem !important;
}

.card-body-note {
    padding: 1rem 1.5rem;
    flex-wrap: wrap;
    justify-content: center;
}

.card-body {
    background-color: var(--card-background);
    padding: 1rem 1.5rem;
    flex-wrap: wrap;
    justify-content: center;
}

.card-borrower {
    border-left: 1rem solid var(--borrower-border); 
    border-radius: 1rem;
}

.card-lender {
    border-left: 1rem solid var(--lender-border); 
    border-radius: 1rem;
}

.card-disabled {
    border-left: 1rem solid var(--disabled-border); 
    border-radius: 1rem;
}

h2 {
    font-weight: bold;
    color: var(--text-color);
}

.progress {
    height: 20px;
    border-radius: 10px;
    background-color: var(--background-color);
}

.progress-bar-borrower {
    background-color: var(--borrower-border) !important;
}

.progress-bar-lender {
    background-color: var(--borrower-border) !important;
}

.footer-container {
    border-top: 2px solid var(--footer-border);
    border-radius: 20px;
    background-color: var(--card-background);
    margin: 20px;
}

footer .text-center button {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    background-color: transparent;
    border: none;
    color: var(--text-color);
}

footer .text-center i {
    font-size: 1.5rem;
    color: var(--text-color);
}

footer a {
    color: var(--footer-link-color);
    text-decoration: none;
}

footer a:hover {
    color: var(--footer-link-hover-color);
    text-decoration: underline;
}

.img {
    height: 2rem;
    float: left;
}
