/* General Styling for Light and Dark Mode */
:root {
    /* Light Mode Variables */
    --background-color: #ffffff;
    --card-background: #fafafa;
    --text-color: #000000;
    --text-secondary-color: #717171;
    --card-shadow: rgba(0, 0, 0, 0.1);
    --borrower-border: #FF4500;
    --lender-border: #32CD32;
    --disabled-border: #808080;
    --footer-border: #e0e0e0;
    --footer-text-color: #000;
    --footer-link-color: #000;
    --footer-link-hover-color: #000;
    --primary-color: #ffc107; /* Amber color */
    --primary-text-color: #000000;
    --button-background-color: var(--primary-color);
    --button-text-color: #000000;
    --button-hover-background-color: #ffb300; /* Darker amber */
}

body.dark-mode {
    /* Dark Mode Variables */
    --background-color: #171717;
    --card-background: #282828;
    --text-color: #ffffff;
    --card-shadow: rgba(48, 48, 48, 0.1);
    --borrower-border: #FF6347;
    --lender-border: #228B22;
    --disabled-border: #A9A9A9;
    --footer-border: #505050;
    --footer-text-color: #ffffff;
    --footer-link-color: #ffffff;
    --footer-link-hover-color: #ffffff;
    --primary-color: #ffca28; /* Lighter amber in dark mode */
    --primary-text-color: #ffffff;
    --button-background-color: var(--primary-color);
    --button-text-color: #ffffff;
    --button-hover-background-color: #ffa000; /* Darker amber for hover in dark mode */
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    padding-bottom: 16rem;
}

/* Loading Spinner */
.loading-spinner {
    text-align: center;
    font-size: 18px;
    color: var(--text-secondary-color);
    margin: 20px;
}

.loading-spinner::after {
    content: ' ';
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-left: 10px;
    border-radius: 50%;
    border: 3px solid var(--text-secondary-color);
    border-color: var(--text-secondary-color) transparent var(--text-secondary-color) transparent;
    animation: spin 1.2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Card Styling */
.card {
    background-color: var(--card-background);
    border: none;
    border-radius: 20px;
    box-shadow: 0 3px 8px var(--card-shadow);
    margin: 1rem 0rem !important;
}

.card-body-note {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.card-body-note > div:first-child {
    margin-right: 20px; /* Add some space between text and buttons */
}

.card-wrapper {
    position: relative;
    padding-left: 20px; /* Space for the indicator */
}

.left-border-indicator {
    width: 100px;
    height: 80%;
    position: absolute;
    top: 10%;
    left: 0px;
    border-radius: 15px;
    z-index: 1;
}

.card {
    position: relative;
    z-index: 2;
    padding-left: 15px;
}

.card-borrower-indicator {
    background-color: var(--borrower-border);
}

.card-lender-indicator {
    background-color: var(--lender-border);
}

.card-disabled-indicator {
    background-color: var(--disabled-border);
}

/* Progress Bar */
.progress {
    height: 20px;
    border-radius: 10px;
    background-color: var(--background-color);
}

.progress-bar-borrower {
    background-color: var(--borrower-border) !important;
}

.progress-bar-lender {
    background-color: var(--lender-border) !important;
}

/* Footer Styling */
.footer-container {
    border-top: 2px solid var(--footer-border);
    border-radius: 20px;
    background-color: var(--card-background);
    margin: 20px;
}

footer .text-center button {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    background-color: transparent;
    border: none;
    color: var(--text-color);
}

footer .text-center i {
    font-size: 1.5rem;
    color: var(--text-color);
}

footer a {
    color: var(--footer-link-color);
    text-decoration: none;
}

footer a:hover {
    color: var(--footer-link-hover-color);
    text-decoration: underline;
}

.img {
    height: 2rem;
    float: left;
}
/* Fading and Sliding Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(50px); 
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in {
    opacity: 0;
    animation: fadeIn 0.6s ease-out forwards;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.slide-in {
    animation: slideIn 0.6s ease-out forwards;
}

.dropdown-modal-content {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    background-color: var(--background-color);
    border-radius: 20px;
    padding: 0;
    transition: max-height 0.4s ease-in-out, opacity 0.4s ease-in-out, padding 0.4s ease-in-out;
}

.dropdown-modal-content.open {
    max-height: 500px; /* Adjust based on the expected content height */
    opacity: 1;
    padding: 20px;
}
/* Modal and Input Group Styling */
body.dark-mode .modal-content {
    background-color: #333;
    color: #fff;
}

body.dark-mode .modal-header,
body.dark-mode .modal-footer {
    border-color: #444;
}

body.dark-mode .form-control,
body.dark-mode select.form-select {
    background-color: #444;
    color: #fff;
    border: 1px solid #666;
}

body.dark-mode .form-control::placeholder,
body.dark-mode select.form-select::placeholder {
    color: #aaa;
}

.input-group .form-control {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-group .input-group-text {
    border-radius: 0 10px 10px 0;
    background-color: #444;
    border-left: 1px solid #666;
}

/* Buttons */
.btn-create-loan,
.btn-create-transaction {
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    padding: 0.75rem;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-create-loan:hover,
.btn-create-transaction:hover {
    background-color: var(--button-hover-background-color);
    transform: translateY(-2px);
}

.btn-create-loan:focus,
.btn-create-transaction:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(255, 193, 7, 0.5);
}

.modal-footer .btn-warning {
    background-color: var(--button-background-color);
    color: white;
    border-radius: 25px;
}

.modal-footer .btn-warning:hover {
    background-color: var(--button-hover-background-color);
}

/* Transaction List */
.transaction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: gray 1px solid;
    padding: 8px 16px;
    margin-bottom: 8px;
    color: var(--text-color);
}

.transaction-info {
    display: flex;
}

.transaction-name {
    font-weight: bold;
}

.dropdown-modal-transaction-date {
    font-size: 12px;
    color: #757575;
}

.transaction-amount {
    font-size: 1.2rem;
    font-weight: bold;
}

.transaction-amount.positive {
    color: var(--lender-border);
}

.transaction-amount.negative {
    color: var(--borrower-border);
}
